body{

	background: url("img/beach.jpg") no-repeat center center fixed;
	background-size: cover;
}

.main{

	display: block;
	width: 50%;
	margin: 0 auto;
}

.cardBox{

	color: white;
	height: 100px;
	width: 100px;
	background-color: rgba(2, 2, 2, 0.63);
}
